
.home-page {
    padding: 20px;
  }
  
  .popular-nfts, .new-arrivals, .categories {
    margin-bottom: 30px;
  }
  
  .nft-list {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Додаємо горизонтальну прокрутку для списку NFT */
    padding: 10px 0;
  }
  
  .nft-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    background-color:rgb(216, 214, 214);

  }
  
  .nft-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .nft-card h3 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .nft-card p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .category-list li {
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
  }
  h2{
    color: rgb(216, 214, 214);
  }